{% extends 'base.html' %}

{% block title %} orders {% endblock %}
{% block content %}
<table class="table">
      <thead>
      <tr>
      <th scope="col">order_id</th>
      <th scope="col">order_date</th>
      <th scope="col">cust_id</th>
      <th scope="col">delete_button</th>
      </tr>
      </thead>
  <tbody>
  {% for Order in orders %}
    <tr>
      <td>{{Order.order_id}}</td>
      <td>{{Order.order_date}}</td>
      <td>{{Order.cust_id}}</td>
        <td><a class="btn btn-danger" href="{{ url_for('remove_order', order_id=Order['order_id']) }}" role="button">Удалить</a></td>
        <td><a class="btn btn-success" href="{{ url_for('update_order', order_id=Order['order_id']) }}" role="button">Обновить</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<a class="btn btn-primary" href="{{ url_for('add_order') }}" role="button">add order</a>
{% endblock %}